html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    background-color: #202124;
}

#nav {
    margin: 5px;
    padding: 5px;
    text-align: right;
}

#nav a {
    font-size: 11px;
    text-decoration: none;
    color: white;
    margin: 15px
}

#search {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

#search input[type=text] {
    min-height: 40px;
    font-size: 14px;
    padding-left: 15px;
    background-color: #505454;
    color: white;
    border: 1px solid transparent;
    border-radius: 24px;
    outline: none;
    width: 550px;
}

#search input[type=text]:hover {
    background-color: #5c646c;
}

#buttons {
    text-align: center;
    margin-top: 25px;
}

#buttons input[type=submit],
div button {
    background-color: #303134;
    border-radius: 5px;
    border: solid 1px transparent;
    font-size: 12px;
    outline: none;
    color: #e8eaed;
    margin: 10px;
    padding: 10px;
}

#logo {
    display: block;
    margin: auto;
    margin-top: 100px;
}

#logo_small {
    float: left;
    width: 6%;
}

h3 {
    color: #f28b82;
    font-size: 15px;
    padding: 40px 40px;
    padding-left: 50px;
    border-bottom: 1px solid black;
}

#search_advanced {
    width: 800px;
    font-size: 12px;
    color: #969ba1;
    padding-left: 50px;

}

#form {
    width: 650px;
    height: 240px;
    float: left;
    border-bottom: 1px solid black;
}

#form_advanced label {
    display: inline-block;
    margin-bottom: 30px;
}

#numbers {
    width: 483px;
    float: right;
    text-align: center;
    font-size: 12px;
    color: black;
}

#search_advanced p {
    font-size: 14px;
    color: #e8eaed;
}

#search_advanced input[type=text] {
    background-color: #202124;
    border: 1px solid #5c5f5e;
    min-height: 20px;
    color: #bdc1c6;
    font-size: 12px;
    padding-left: 10px;
}

#search_advanced input[type=text]:nth-last-of-type(n+1) {
    float: right;

}

#todo {
    width: 500px;
    height: 225px;
    margin-left: 650px;
    padding-left: 10px;
    padding-top: 15px;
    border-bottom: 1px solid black;
}

#todo h4 {
    margin: auto;
    color: white;
    margin-bottom: 35px;
}

#todo span {
    display: inline-block;
    font-size: 10px;
    color: #969ba1;
    margin-bottom: 15px;
}

#todo p {
    display: inline-block;
    font-size: 10px;
    font-family: monospace;
    color: #dadce0;
    margin: auto;
}

#todo span:nth-last-of-type(n+2) {
    margin-bottom: 29px;
}

#button_advanced {
    background-color: aliceblue;
    width: 650px;
    margin-top: 10px;
}

#button_advanced input {
    background-color: #8ab4f8;
    font-size: 10px;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    padding: 8px;
    color: #fff;
    float: right;
}

#input_div {
    position: relative;
    display: inline-block;
}

#input_div input[type=reset] {
    position: absolute;
    right: 0;
    cursor: pointer;
    background-color: transparent;
    color: #e8eaed;
    border: none;
    font-size: 24px;
    margin-right: 15px;
    margin-top: 4px;
}