html,
body {
    height: 100%;
    margin: 0;
    background-color: #202124;
}

#nav {
    font-family: sans-serif;
    margin: 5px;
    padding: 5px;
    text-align: right;
}

#nav a {
    font-size: 11px;
    text-decoration: none;
    color: white;
    margin: 15px
}

#search {
    display: flex;
    margin: 10px;
    height: 90%;
    align-items: center;
    justify-content: center;
}

#search input[type=text] {
    font-family: Arial, sans-serif;
    min-height: 40px;
    font-size: 14px;
    padding-left: 15px;
    background-color: #505454;
    color: white;
    border: 1px solid transparent;
    border-radius: 24px;
    outline: none;
    width: 550px;
}

#search input[type=text]:hover {
    background-color: #5c646c;
}

#buttons {
    text-align: center;
    margin-top: 25px;
}

#buttons input[type=submit] {
    background-color: #303134;
    border-radius: 5px;
    border: solid 1px transparent;
    font-size: 12px;
    outline: none;
    color: #e8eaed;
    margin: 10px;
    padding: 10px;
}